.contact-section{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    padding-bottom: 100px;
    background-color: #070D1B;
}

.contact-section .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.contact-topic{
    display: flex;
    width: 100%;
    justify-content: space-between;
    color: #ffffff;
    margin-top: 100px;
    align-items: flex-start;
    height: auto;
}
.contact-topic .side1, .contact-topic .side2{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 620px;
}
.contact-topic .side1 h1, .contact-topic .side2 h1{
    font-size: 30px;
    font-weight: 400;
    color: #ffffff;
    margin-bottom: 20px;
}
.contact-topic .side1 input,.contact-topic .side1 textarea{
    all: unset; 
    width: 470px;
    height: 52px;
    border-radius: 7px;
    padding: 0 20px;
    background-color: #101624;
    border:1px solid #232935;
    color: #3F4551;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 33px;
}
.contact-topic .side1 textarea{
    padding-top: 10px;
    height:214px;
    margin-bottom: -20px;
}
.contact-topic .side2{
    padding-left: 70px;
    display: flex;
    flex-direction: column;
}
.contact-topic .side2 p{
    font-size: 16px;
    color: #A9ADB8;
    font-weight: 400;
    line-height: 24px;
}
.contact-topic .side2 section{
    display: flex;
    padding: 15px 0;

}
.contact-topic .side2 .icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px #3F4551 solid;
    background-color: #070D1B;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}
.contact-topic .side2 h2{
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;   

}
.contact-topic .side2 p{
    font-size: 16px;
    font-weight: 400;
    color: #A9ADB8;
    margin-top: 10px;

}

.social-nav-hori{
    color: #FFC107;
    z-index: 900;
    display: flex;
    flex: 1;
    align-items: flex-start;
    height: 300px;
    justify-content: flex-start;
    margin-top: 40px;
}
.barra-hori{
    padding: 10px;
    max-height: 89px;
    width: 250px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 50px;
    background-color: #31373E;
    padding-bottom: 0;
}
.barra-hori .circ{
    width: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72px;
    border-radius: 36px;
    background-color: #0A101E;
    margin-bottom: 12px;
    transition: all 0.45s ease-in-out;
    cursor: pointer;
    border: 1px rgba(255, 193, 5, 0%) solid;
}
.barra-hori .circ:hover{
    border: 1px #FFC107 solid;
    background-color: rgba(10, 10, 30, 27%);
}

