.service-section{
    padding-top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    background-color: #0A101E;
    padding-bottom: 50px;
}

.service-section .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box-service {
    display: flex;
    flex-wrap: wrap;
    margin-top:80px;
    flex: 3;
    align-items: flex-start;
    justify-content: space-around;
    
}
.box-service .box{
    width: 330px;
    height: 330px;
    border-radius: 3px;
    border: 1px #232935 solid;
    background-color: #101624;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 40px 10px 10px 10px;
    margin-bottom: 30px;
    transition: all 0.4s;
}
.box-service .box:hover{
    border: 1px #FFC107 solid;
    background-color: rgba(15, 22, 36, 10%)
}
.box-service .box h2{
    font-size: 20px;
    color: #FFFFFF;
    font-weight: 400;
}
.box-service .box p{
    font-size: 16px;
    font-weight: 300;
    color: #FFFFFF;
    letter-spacing: 1px;
    line-height: 150%;
}

.box-service .box-vct{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 90px;
    border-radius: 45px;
    background-color: #070D1B;
    border: 1px #3F4551 solid;
}

@media screen and (max-width:580px){
    .service-section{
        padding-top: 0;
    }
    .box-service .box{
        width: 90%;
    }
}
