.reviews-section{
    padding-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    background-color: #070D1B;
    padding-bottom: 30px;
}

.reviews-section .container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.box-reviews {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    flex: 3;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
}
.box-reviews .box{
    width: 350px;
    height: 270px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.box-reviews .box .box-top p{
    width: 350px;
    padding: 20px 10px 15px 10px;
    background-color: #101624;
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    text-align:center;
    border-radius: 5px;
}
.box-reviews .box span{
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right:  20px solid transparent;
    border-top:  20px solid #101624;
}
.box-reviews .box .img-rvw{
    margin-top: 15px;
}
.box-reviews .box h2{
    color: #D9D9D9;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}
.box-reviews .box p{
    font-size: 14px;
    font-weight: 400;
    color: #3F4551;
}

